h1 {
    color: red;
    text-align: center;
  }

  .right {
    float: right;
  }

li {color:red}

.navtext {color:yellow}

.portimages {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  width:576px;
  height:432px;
}

.align
{text-align: center;}

.area {
  cols:40;
  rows:5;
}

.padding{
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.contactmargin{
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.move {
  display: inside;
  justify-content: center;
  
}

/*.portmarg{
  margin-top: 0px;
  margin-right: 700px;
  margin-bottom: 0px;
  margin-left: 20px;
}

  